<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div>
  <div>
    <%= form_for(:session,url: login_path) do |f|%>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "ログイン" %>

    <% end %>
    <p>新しいユーザーですか？ <%= link_to "新規登録はこちら！", signup_path %></p>
  </div>
</div>