<h1>プロフィール</h1>

<%= gravatar_for @user%>
<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>自己紹介:</strong>
  <%= @user.introduction %>
</p>

  <strong>スキル</strong>
<table>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= link_to 'Show', skill %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>