<p id="notice"><%= notice %></p>

<h1>プロフィール</h1>

<%= gravatar_for @user%>
<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>自己紹介:</strong>
  <%= @user.introduction %>
</p>

<h3>スキル</h3>
<%= form_tag("/users/#{params[:id]}/add_skill", method: "post") do %>
  <%= label_tag(:skill, "スキル名") %>
  <%= text_field_tag(:skill) %>
  <%= submit_tag("追加") %>
<% end %>
<table>
  <tbody>
    <tr>
      <th>スキル名</th>
      <th>+の数</th>
      <th>　+した人</th>
      <th></th>
      <th></th>
    </tr>
    <% @skills_reactions.each do |skill| %>
      <tr>
        <td><a href="/skills/<%= skill['skill_id'] %>"><%= skill["name"] %></a></td>
        <td>+<%= skill["count"] %></td>
        <td>
          <% if !skill["reaction_users"].nil? %>
            <% skill["reaction_users"].each do |s_r| %>
              <a href="user/<%= s_r['id'] %>"><%= s_r["name"] %></a>
            <% end %>
          <% end %>
        </td>
        <% if logged_in? %>
          <% if params[:id].to_i != @current_user.id %>
            <%= form_tag("/users/#{params[:id]}/#{skill["skill_id"]}", method: "post", :name => :reaction) do %>
              <td>
                <%= submit_tag("+1") %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', users_path %>