<p id="notice"><%= notice %></p>

<p>
  <strong>User skill:</strong>
  <%= @reaction.user_skill_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reaction.user_id %>
</p>

<%= link_to 'Edit', edit_reaction_path(@reaction) %> |
<%= link_to 'Back', reactions_path %>
